{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "lf",
  
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sort-imports",
    "prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes"
  ]
}